[default]
# Each section is a named notification profile. Select it with -profile.
PROXY=
MSTEAMS_DST=
SLACK_DST=
SLACK_TOKEN=
SLACK_CHANNEL=
WEBEX_TOKEN=
WEBEX_DST=

[teams]
MSTEAMS_DST=

[slack]
SLACK_DST=
SLACK_TOKEN=
SLACK_CHANNEL=

[webex]
WEBEX_TOKEN=
WEBEX_DST=

[all]
PROXY=
MSTEAMS_DST=
SLACK_DST=
SLACK_TOKEN=
SLACK_CHANNEL=
WEBEX_TOKEN=
WEBEX_DST=
